pkgbase = qteasytier-bin
	pkgdesc = 基于 EasyTier 的 Qt 图形化异地组网客户端（预编译二进制，取自官方 Release）
	pkgver = 0.0.0
	pkgrel = 1
	url = https://github.com/qteasytier/qt-easy-tier
	install = qteasytier-bin.install
	arch = x86_64
	license = GPL-3.0-only
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-svg
	depends = qt6-tools
	depends = openssl
	depends = sqlite
	depends = hicolor-icon-theme
	provides = qteasytier
	conflicts = qteasytier
	conflicts = qteasytier-dde
	options = !strip
	source = qteasytier-bin-0.0.0.deb::https://github.com/qteasytier/qt-easy-tier/releases/download/0.0.0/qteasytier_v0.0.0_linux_amd64.deb
	sha256sums = SHA256SUMS

pkgname = qteasytier-bin
