[Desktop Entry]
Type=Application
Name=QtEasyTier
Comment=QtEasyTier 是一个基于 EasyTier ，使用 Qt 框架开发的异地组网工具。
Exec=/opt/qteasytier/appQtEasyTier
Icon=/opt/qteasytier/qtet.png
Terminal=false
Categories=Utility;Qt;Web;Network;Internet;
