<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>QtEasyTier</Name>
    <Version>1.2.0</Version>
    <Title>QtEasyTier</Title>
    <Publisher>清风明月</Publisher>
    <!-- Directory name is used in component.xml -->
    <StartMenuDir>QtEasyTier</StartMenuDir>
    <TargetDir>@HomeDir@/QtEasyTier</TargetDir>
</Installer>
